body {
  font-family: 'Lato', 'Helvetica', 'Verdana', sans-serif;
  background-color: #1b1b1b;
}

#container {
  margin: 0 auto;
  max-width: 1590px;
  width: 100%;
}

.header {
  margin-top: 124px;
  margin-bottom: 32px;
  text-align: center;
  font-size: 50px;
  font-weight: 900;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: white;
}

.img-columns {
    column-count: 3;
    column-gap: 30px;
}

.text-div:hover {
    opacity: 1;
}

.img-div {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    clear: left;
}

.img-div:hover .img-loaded {
    opacity: 0.5;
    transform: scale(1.25);
}

.img-div:hover .text-div {
    opacity: 1;
}

.img-loaded {
    transition: 1s ease;
}

.text-div {
    position: absolute;
    bottom: 16px;
    left: 16px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    opacity: 0;
    transition: 1s ease;
}

h3 {
  margin-bottom: 36px;
  text-align: center;
  color: #666;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
}

.footer {
  padding-bottom: 32px;

  color: #999;
  font-weight: 300;
  text-align: center;
}

.links {
  padding-top: 32px;
}

.links__icon,
.links__icon:visited,
.links__icon:link {
  color: #ccc;
  text-decoration: none;
  font-size: 14px;
  margin-right: 8px;
  transition: 0.2s color;
  line-height: 24px;
  clear: both;
}

.links__icon:hover {
  color: #999;
}

.view-ig {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 18px;
  margin-bottom: 32px;
}
